.app
{
    margin:25px;
}

.html
{
    font-family: Arial, Helvetica, sans-serif;
}
.header
{
    font-size: 50px;
}
.totalText
{
    font-size:25px;
}
.subTotal
{
    font-size:20px;
}
.verticalLine
{
    // background-color: #ccc;
    padding:0;
    margin-left:10px;
    margin-right:10px;
}

.horizontalLine
{
    background-color: #ccc;
    height:10px;
    padding:0;
    margin-top:20px;
    margin-bottom:20px;
}

.editbar
{
    margin-top:260px;
    
    width:50%;
}

.edit-item{
    margin-left: 50px;

}


* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}




.qtyTextbox
{
    width:40px
}

.totalSection
{
    margin-top:75px;
}

.subTotalSection
{
    margin-top: 40px;
}

.queriesSection
{
    margin-top: 20px;
}


// img{
//     width:100%;
//     height: auto;
// }

.product-image
{
    width:20%;
    margin: 0;
    float: left;
      height: auto;

}

.product-name{
       width:30%;
    margin-left: 50px;
    float: left;
      height: auto;
}

.product-size
{
       width:15%;
    margin: 0;
    float: left;
      height: auto;
}
.product-quantity
{
       width:15%;
    margin: 0;
    float: left;
      height: auto;
}
.product-price
{
       width:15%;
    margin: 0;
    float: left;
    height: auto;
}


@media screen and (max-width: 768px) {

.product-image
{
    width:50%;
    margin: 0;
    float: left;
      height: auto;

}

.product-name{
       width:50%;
    margin: 0;
    float: left;
      height: auto;
}

.product-size
{display: none;
}
.product-quantity
{
       display: none;
}
.product-price
{
       display: none;
}
    .info-bar{
        display: none;
    }
    .editbar{
        width: 100%;
        float: left;
        height: auto;
        margin: 60px;
    }
    .edit-item{
        margin-left: 0;
    }

}

